body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(92deg, #f83600 0%, #f9d423 100%);
}

header.bg-dark,
header.navbar {
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid #ddd;
    background: linear-gradient(135deg, #000001, #0D101F);
}

header.navbar .nav-link {
    color: #fff;
    padding: 10px 15px;
    transition: background-color 0.5s;
    border-radius: 5px;
}

header.navbar .nav-link:hover {
    background-color: #f88400;
    color: #0D101F;
    border-radius: 5px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    margin-top: 20px;
}

.container h1{
    color: #fff;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px #ffffff;
}

.card-title {
    color: #1e293b;
    font-weight: bold;
}

.card-text {
    color: #6c757d;
}

.list-group-item {
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: background-color 0.3s, transform 0.3s;
    background: linear-gradient(135deg, #e0f7fa, #eefbfc);
}

.list-group-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px #ffffff;
}

.total-container {
    border: 1px solid #38a33c;
    padding: 20px;
    border-radius: 10px;
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.total-container h3 {
    font-weight: bold;
    margin-bottom: 20px;
    color: #1e293b;
}

.total-container .form-label {
    color: #fff;
}

.btn-primary, .btn-success, .btn-danger {
    border-radius: 5px;
}

.btn-primary:hover, .btn-success:hover, .btn-danger:hover {
    transform: scale(1.05);
}


#pagarBtn {
    margin-top: 20px;
    background-color: rgb(27, 160, 58);
    border-color: #1e8f38;
    transition: background-color 0.3s, color 0.3s;
}

#pagarBtn:hover {
    background-color: #218838;
    border-color: #1e7e34;
    color: #fff;
}

.no-link-style {
    font-weight: bold;
    text-decoration: none;
}