body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(92deg, #f83600 0%, #f9d423 100%);
}

header.bg-dark,
header.navbar {
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid #ddd;
    background: linear-gradient(135deg, #000001, #0D101F);
}

header.navbar .nav-link {
    color: #fff;
    padding: 10px 15px;
    transition: background-color 0.5s;
    border-radius: 5px;
}

header.navbar .nav-link:hover {
    background-color: #f88400;
    color: #0D101F;
    border-radius: 5px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    margin-top: 20px;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px #ffffff;
}

.card-title {
    color: #1e293b;
    font-weight: bold;
}

.card-text {
    color: #6c757d;
}

.checked {
    color: orange;
}

.stars .fa {
    margin-right: 2px;
}

.list-group-item {
    border: none;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background: linear-gradient(135deg, #e0f7fa, #eefbfc);
}

.list-group-item:hover {
    transform: translateY(-2px);
}

#comentariosProducto h4{
    color: #fff;
}
