<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleIndex.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
        {% include 'navbar.html' %}
    </header>

    <main class="container mt-5">
        <h1 class="main-header">Bienvenido a la tienda de plugins</h1>
        <div class="row">
                        
            <!-- Añadir más productos según sea necesario -->
            {% for producto_id, producto in productos.items() %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="https://via.placeholder.com/300" class="card-img-top" alt="{{ producto.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <p class="card-text">{{ producto.descripcion }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="{{ url_for('producto', producto_id=producto.producto_id) }}" class="btn btn-primary btn-sm">Ver detalles</a>
                                <small class="text-muted">${{ producto.precio }}</small>
                            </div>
                            <div class="mt-2">
                                <div class="valoracion">
                                    <span class="stars">
                                        {% for i in range(producto.valoracion) %}
                                            <span class="fa fa-star checked"></span>
                                        {% endfor %}
                                        {% for i in range(5 - producto.valoracion) %}
                                            <span class="fa fa-star-o"></span>
                                        {% endfor %}
                                    </span>
                                    <p class="compras">Compras: {{ producto.compras }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
</body>
</html>
