<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleIndex.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
        {% include 'navbar.html' %}
    </header>

    <main class="container mt-5">
        <h1 class="main-header text-center">Bienvenido a la tienda de plugins</h1>

        <form class="d-flex my-4" method="POST" action="{{ url_for('buscar_producto') }}">
            <input class="form-control me-2" type="search" name="buscar" placeholder="Buscar productos" aria-label="Buscar">
            <button class="btn btn-success" type="submit">Buscar</button>
        </form>

        <div class="row">
            <!-- Añadir más productos según sea necesario -->
            {% for producto_id, producto in productos.items() %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card h-100 mb-0">
                        <img src="/static/images/logo_300.jpeg" class="card-img-top" alt="{{ producto.nombre }}">
                        <div class="card-body">
                            <a href="{{ url_for('producto', producto_id=producto.producto_id) }}" class="btn btn-primary btn-sm position-absolute top-0 end-0">Ver detalles</a>
                            
                            <small class="text-muted fs-6 float-end">${{ producto.precio }}</small>
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <p class="card-text">{{ producto.descripcion }}</p>
                            

                            <div class="mt-2 p-0 mb-0">
                                <div class="valoracion d-flex justify-content-between align-items-center">
                                    <span class="stars mb-3">
                                        {% for i in range(producto.valoracion) %}
                                            <span class="fa fa-star checked"></span>
                                        {% endfor %}
                                        {% for i in range(5 - producto.valoracion) %}
                                            <span class="fa fa-star-o"></span>
                                        {% endfor %}
                                    </span>
                                    <p class="compras">Compras: {{ producto.compras }}</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
