<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recibos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylePerfil.css') }}">
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
        {% include 'navbar.html' %}
        <div class="sidebar">
            <a href="#" onclick="loadContent('Perfil')">Perfil</a>
            <a href="#" onclick="loadContent('PComprados')">Productos Comprados</a>
            <a href="#" onclick="loadContent('LSoportes')">Soportes</a>
        </div>
    </header>
    <main class="container mt-5">
        <div class="list-group mt-4" id="listaRecibos"></div>
    </main>
    <script>
        function loadContent(page) {
            window.location.href = '/' + page;
        }

        function cargarRecibos() {
            const listaRecibos = document.getElementById('listaRecibos');
            const recibos = JSON.parse(localStorage.getItem('recibos')) || [];

            recibos.forEach((recibo, index) => {
                const listItem = document.createElement('div');
                listItem.className = 'list-group-item';
                listItem.innerHTML = `
                    <h5 class="mb-1">Recibo ${index + 1}</h5>
                    <p class="mb-1">Total: $${recibo.total}</p>
                    <p class="mb-1">Método de Pago: ${recibo.metodoPago}</p>
                    <small class="text-muted">Fecha del recibo: ${recibo.fecha}</small>
                `;
                listaRecibos.appendChild(listItem);
            });
        }

        document.addEventListener('DOMContentLoaded', cargarRecibos);
    </script>
</body>
</html>
