<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos Comprados</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleProductos.css') }}">
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
        {% include 'navbar.html' %}
        <div class="sidebar">
            <a href="{{ url_for('PComprados') }}">Productos Comprados</a>
            <a href="{{ url_for('LSoportes') }}">Soportes</a>
            <a href="{{ url_for('LRecibos') }}">Recibos</a>
        </div>
    </header>
    <main class="content">
        <div class="container mt-5">
            <h2 class="mb-4">Productos Comprados</h2>
            <div class="row">
                {% for compra in compras %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <a href="{{ url_for('producto', producto_id=compra.producto_id) }}" class="no-link-style">
                            <div class="card-body">
                                <h5 class="card-title">{{ compra.nombre }}</h5>
                                <p class="card-text">Precio: ${{ compra.precio }}</p>
                                <p class="card-text">Cantidad: {{ compra.cantidad }}</p>
                                <p class="card-text"><small class="text-muted">Fecha de compra: {{ compra.fecha }}</small></p>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>