<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producto</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesProducto.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
        {% include 'navbar.html' %}
    </header>

    <div class="container mt-4">
        <section id="detalleProducto" class="mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h2 class="card-title">{{ producto.nombre }}</h2>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <p class="card-text">Precio: ${{ producto.precio }}</p>
                    <p class="card-text">Valoración:
                        {% for i in range(producto.valoracion) %}
                            <span class="fa fa-star checked"></span>
                        {% endfor %}
                        {% for i in range(5 - producto.valoracion) %}
                            <span class="fa fa-star-o"></span>
                        {% endfor %}
                    </p>
                    <p class="card-text">Compras: {{ producto.compras }}</p>
                    <p class="card-text">Fecha: {{ producto.fecha }}</p>
                    <p class="card-text">Versión Compatible: {{ producto.version_comptble }}</p>
                    {% if producto.plugins %}
                        <p class="card-text">Plugins:
                            <ul>
                                {% for plugin in producto.plugins %}
                                    <li>Versión: {{ plugin.version }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                    {% endif %}
                    {% if producto.schematics %}
                        <p class="card-text">Schematics:
                            <ul>
                                {% for schematic in producto.schematics %}
                                    <li>Dimensiones: {{ schematic.dimensiones }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                    {% endif %}
                    <form action="{{ url_for('agregar_carrito') }}" method="POST">
                        <div class="form-group d-flex align-items-center">
                            <label for="cantidad" class="mr-2 mb-0">Cantidad:</label>
                            
                            <input type="number" id="cantidad" name="cantidad" class="form-control mr-3" value="1" min="1" required style="width: 70px;">

                            <input type="hidden" name="producto_id" value="{{ producto.producto_id }}">
                            <input type="hidden" name="precio" value="{{ producto.precio }}">
                            <input type="hidden" name="nombre" value="{{ producto.nombre }}">

                            
                            <button type="submit" id="añadirCarritoBtn" class="btn btn-success">Añadir al Carrito</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <section id="comentariosProducto" class="mb-4">
            <h4>Comentarios</h4>
            <div class="list-group card">
                {% for comentario in lista_comentarios %}
                <div class="list-group-item">
                    <h5 class="mb-1">{{ comentario.nombre_usuario }}</h5>
                    <p class="mb-1">{{ comentario.descripcion }}</p>
                    <small class="text-muted">{{ comentario.fecha }}</small>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>

</body>
</html>